<div class="flex justify-center items-center mt-6">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mr-2">
        <h2 class="text-2xl font-bold mb-4">Detalhes da Empresa</h2>
      <div class="flex flex-row">
          <div class="mb-4 mr-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="responsible_company">Responsável pela Empresa</label>
            <p class="text-gray-900">{{ empresa.responsible_company }}</p>
          </div>
          <div class="mb-4 mx-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="cpf">CPF</label>
            <p class="text-gray-900">{{ formatarCPF(empresa.cpf) }}</p>
          </div>
          <div class="mb-4 ml-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="birth_date">Data de Nascimento</label>
            <p class="text-gray-900">{{ empresa.birth_date }}</p>
          </div>
      </div>
      <hr />
      <div class="flex flex-row">
          <div class="mb-4 mr-2 flex-1">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="fantasy_name">Nome Fantasia</label>
            <p class="text-gray-900">{{ empresa.fantasy_name }}</p>
          </div>
          <div class="mb-4 ml-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="cnpj">CNPJ</label>
            <p class="text-gray-900">{{ formataCnpj(empresa.cnpj) }}</p>
          </div>
      </div>
    <hr />
      <div class="flex flex-row">
          <div class="mb-4 mr-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Endereço</label>
            <p class="text-gray-900">{{ empresa.address }}</p>
          </div>
          <div class="mb-4 mx-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="neighborhood">Bairro</label>
            <p class="text-gray-900">{{ empresa.neighborhood }}</p>
          </div>
          <div class="mb-4 ml-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="complement">Complemento</label>
            <p class="text-gray-900">{{ empresa.complement }}</p>
          </div>
      </div>
      <hr />
      <div class="flex flex-row">
          <div class="mb-4 mr-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="city">Cidade</label>
            <p class="text-gray-900">{{ empresa.city }}</p>
          </div>
          <div class="mb-4 ml-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="state">Estado</label>
            <p class="text-gray-900">{{ empresa.state }}</p>
          </div>
      </div>
      <button (click)="goToHome()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-1 rounded focus:outline-none focus:shadow-outline" type="button">
        Voltar
      </button>
    </div>
    <div>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ml-2">
            <div class="flex flex-row items-center content-center justify-between">
              <h2 class="text-2xl font-bold mb-4">Quadro Societário</h2>
              <button (click)="goToFormSocio()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-1 rounded focus:outline-none focus:shadow-outline" type="button">
                + Novo Sócio
              </button>
            </div>
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-2 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Nome</th>
                  <th scope="col" class="px-2 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">CPF</th>
                  <th scope="col" class="px-2 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Qualificação</th>
                  <th scope="col" class="px-2 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Entrada</th>
                  <th scope="col" class="px-2 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Ações</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let partner of empresa.partners">
                  <td class="px-2 py-2 whitespace-nowrap text-sm">{{ partner.name }}</td>
                  <td class="px-2 py-2 whitespace-nowrap text-sm">{{ formatarCPF(partner.cpf) }}</td>
                  <td class="px-2 py-2 whitespace-nowrap text-sm">{{ partner.qualification }}</td>
                  <td class="px-2 py-2 whitespace-nowrap text-sm">{{ partner.entry }}</td>
                  <td class="px-2 py-2 whitespace-nowrap text-sm">Remover</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  